[submodule "themes/dopetrope"]
	path = themes/dopetrope
	url = https://github.com/curttimson/hugo-theme-dopetrope.git
[submodule "themes/sublime"]
	path = themes/sublime
	url = https://github.com/dt801ts/sublime-hugo-theme.git
